spring:
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
  application:
    name: hana-spring
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://dpbjmy-jtvfnqjwwssjmxoa-pub.proxy.dms.aliyuncs.com:3306/hana?useUnicode=true&characterEncoding=utf-8
    username: X27FRhUKDgonckaKRKAs7115
    password: jI6f7vxp9uAxNlNfauEnBu1OtU5Mhg
    hikari:
      minimum-idle: 1
      maximum-pool-size: 20
  data:
    redis:
      host: r-2zez9n165xtgwpcr6npd.redis.rds.aliyuncs.com
      port: 6379
      username: hana
      password: Hana1234
server:
  port: 9901

# 动画保存路径
save-path: C:/Users/ru/Videos/test

# 登录验证
jwt:
  header: "Authorization"
  token-prefix: "Bearer "
  secret: "hana-secret"
  exp: 10800000 # 3小时

# api文档访问接口
springdoc:
  swagger-ui:
    path: /v3/api


# 邮箱验证
email:
  host: "smtp.larksuite.com"
  from: "hana@fufu.moe"
  username: "hana@fufu.moe"
  password: "lw0lhfdtHuwK7dqk"